@page "{handler?}"
@model Java.Pages.LoginModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="base.css" />
    <title>Login</title>
</head>
<style></style>
<body>
<form method="POST">
    <a asp-page="/register">Зарегистрироваться</a>
    <label>
        Логин
        <input name="login" />
    </label>
    <label>
        Пароль
        <input type="password" name="password" />
    </label>
    <input type="submit" value="Войти в аккаунт" asp-page-handler="Login"/>
</form>
</body>
</html>

