@page "{handler?}"
@model Java.Pages.RegisterModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/base.css" />
    <title>Register</title>
</head>
<body>
<form method="POST">
    <a asp-page="/login">Авторизоваться</a>
    <label>
        Логин
        <input asp-for = "CurrentUser.Name"/>
    </label>
    <label>
        Email
        <input type="email" asp-for = "CurrentUser.Email"/>
    </label>
    <label>
        Телефон
        <input type="tel" asp-for = "CurrentUser.Phone"/>
    </label>
    <label>
        Пароль
        <input type="password" asp-for = "CurrentUser.Password" />
    </label>
    <input type="submit" value="Зарегистрироваться" asp-page-handler="RegisterFirst"/>
</form>
</body>
</html>
